


 <link rel="stylesheet" href="css/studeprofile.css">
 <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
 <link rel="Stylesheet" href="css/master.css" type="text/css" />
 </style>

 <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
 
 <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
  <nav>
    <ul>
      <li><a href="/staffHome">home</a></li>
      <li><a href="#">Question preparation</a>
        <ul>
          <li><a href="addquestion">multiple choice </a></li>
          <li><a href="addquestion2">Definition Type</a>
            </li>
         
            <ul>
             
            </ul>
          </li>
         
        </ul>
      </li>
      <li>
        <a href="#">View Papper</a>
        <ul>
          <li><a href="selectbachmultiple">View Multiple Choice Answers</a></li>
          <li><a href="selectbatch">View Definition Answers</a></li>
        </ul>
      </li>
      <li><a href="live">viva</a></li>
      <li><a href="/">LOGOUT</a></li>
    </ul>
  </nav>