<link rel="stylesheet" href="css/addq.css">
<div class="container">  
    <form id="contact" action="/viewmul" method="POST">
      <h3>Select category</h3>
      <h4></h4>
      <fieldset>
        <input placeholder="Rgno" type="text" name="Rgno" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <!-- <input placeholder="Subject" name="pid" type="text" tabindex="2" required> -->
        <select name="pid" id="">
          <option value="DS">SELECT SUBJECT</option>
          <option value="CS">Computer</option>
          <option value="DBMS">DBMS</option>
          <option value="Python">Python</option>
          <option value="AI">AI</option>
          <option value="ML">ML</option>
        </select>
      </fieldset>
       <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
</div>
<body>
    <script>
        // '.tbl-content' consumed little space for vertical scrollbar, scrollbar width depend on browser/os/platfrom. Here calculate the scollbar width .
$(window).on("load resize ", function() {
    var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
    $('.tbl-header').css({'padding-right':scrollWidth});
  }).resize();
    </script>
</body>