<html>

<head>
    <link rel="stylesheet" href="css/studeprofile.css">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
  <link rel="Stylesheet" href="css/master.css" type="text/css" />
  </style>

  <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />
  
  <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
</head>

<body>
    <%- include('partials/staffNav.ejs') %>
  <section style="margin-right: 70%;">
    

    <div class="card-container">
      

        <span class="pro">Staff</span>
       
        <img class="round" src="../images/staffimg/<%= user.pic %>" alt="user" />
       <h3><%= user.name%></h3>
        <h6><%= user.Uid%></h6>
    
        <p><br/> </p>
        <div class="buttons">
          <button class="primary">
         
          </button>
          <button class="primary ghost">
            
          </button>
        </div>
        <div class="skills">
          <h6></h6>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
     
      
  </section>

<div class="welcome">
<section>
   
</section>
</div>

</body>

</html>